theme.liquid

{%- section 'go-cart' -%}

    <script>
      var goCart = new GoCart();
    </script>
    
    {%- if settings.show_klaviyo_popup -%}
    <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id={{ settings.klaviyo_popup_embedcode| escape }}"></script>
    {% endif %}
    
    
    <script>
          jQuery(document).on('change','.js-qty .js-qty__num',function(){
            var qty = jQuery(this).val();
            var price = jQuery('#ProductPrice').attr('content');
            var total = parseFloat(parseFloat(qty,2) * parseFloat(price)).toFixed(2);
              jQuery('.total_area_price').text('{{ cart.currency.symbol }}'+total);                               });
    </script>
    
     
    <script>
      
      $(document).ready(function(){
  
        $( "body" ).on( "click",'.variant_color_swatch',function( event ) {
          
          
          setTimeout(function() { 
             
            console.log("workimg");
             var val = window.location.href;

            var variantID = val.substr(val.indexOf("=") + 1)
           

              var pId= '{{ product.handle }}';

              jQuery.getJSON('/products/'+pId+'.js', function(product) {
                
                console.log(product.variants);

                product.variants.forEach(function(item) {

                  if(item.id == variantID){

                    var feature_image = item.featured_image;

              
                    
                  /* create html tag now */
                    $('.fancybox div').hide();
    			  var  variant_feature_image = '<a  class="appendGallery slider_slider_0 fancybox slider_Black" data-fancybox-group="product-gallery" href="'+feature_image.src+'"><div data-media-id="22265376047185" data-media="'+feature_image.src+'" class="product_media_element synergy_media product-featured-image-wrapper product-zoom"><img data-src="'+feature_image.src+'" height="" width="" class="product-featured-image ls-is-cached lazyloaded" src="'+feature_image.src+'" alt="Black" data-zoom="'+feature_image.src+'6"></div></a>'
                    
    
    				$( ".product-featured-images-wrapper" ).append(variant_feature_image);

                  } else {



                  }



                });

            });


            
          }, 300);
			
        
          
          
         
          
        });
     
      });
      
      
    </script>
  
{% if template == '404' %}
<script>window.location.href = '/';</script>
{% endif %}

=======================================================================================================================================================================



<!-- .go-cart__drawer {
    position: fixed;
    top: 0;
    right: -480px;
    z-index: 40;
    width: 100%;
    max-width: 480px;
    height: 100%;
    background-color: #fff;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
} -->

<!--go cart modal fail-->
<div class="go-cart__modal go-cart__modal--fail js-go-cart-modal-fail">

    <div class="go-cart-modal">

        <!--go cart modal close-->
        <div class="go-cart-modal__close js-go-cart-modal-fail-close">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z"></path>
            </svg>

        </div>
        <!--end go cart modal close-->

        <!--go cart modal content-->
        <div class="go-cart-modal__content js-go-cart-modal-fail-content">
            Something went wrong, please contact us!
        </div>
        <!--end go cart modal content-->

    </div>

</div>
<!--end go cart modal fail-->

<!--go cart modal-->
<div class="go-cart__modal js-go-cart-modal">

    <div class="go-cart-modal">

        <!--go cart modal close-->
        <div class="go-cart-modal__close js-go-cart-modal-close">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z"></path>
            </svg>

        </div>
        <!--end go cart modal close-->

        <!--go cart modal content-->
        <div class="go-cart-modal__content js-go-cart-modal-content"></div>
        <!--end go cart modal content-->

        <!--go cart modal buttons-->
        <div class="go-cart-modal__buttons">

            <a class="go-cart__button js-go-cart-modal-close">
                Continue shopping
            </a>

            <a href="/cart/" class="go-cart__button">
                View cart
            </a>

        </div>
        <!--end go cart modal buttons-->

    </div>

</div>
<!--end go cart modal-->

<!--go cart drawer-->
<div class="go-cart__drawer js-go-cart-drawer" tabindex="-1">

    <div class="go-cart-drawer">

        <!--go cart drawer close-->
        <div class="go-cart-drawer__header">

            <button class="go-cart-drawer__close js-go-cart-drawer-close" aria-label="Close cart" title="Close cart">

                {% render 'icon-arrow' %}

            </button>

        </div>
        <!--end go cart drawer close-->

        <!--go cart drawer content-->
        <div class="go-cart-drawer__content js-go-cart-drawer-content"></div>
        <!--end go cart drawer content-->

        <!--go cart drawer subtotal-->
        <div class="go-cart-drawer__subtotal">
            <span class="go-cart-drawer__subtotal-label">Subtotal</span>
            <span class="go-cart-drawer__subtotal-price js-go-cart-drawer-subtotal"></span>
        </div>
        <!--end go cart drawer subtotal-->

        <!--go cart drawer buttons-->
        <div class="go-cart-drawer__footer js-go-cart-drawer-footer">

            <small class="tax-note caption-large rte">
                {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                {%- elsif cart.taxes_included -%}
                {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                {%- else -%}
                {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                {%- endif -%}
            </small>
      
        <form class="header-cart-contents-cta" action="/cart" method="post" novalidate>
          {% comment %} 
            <a href="/collections/all" class="btn btn-primary btn-block btn-continue-shopping">{{ 'general.continue_shopping' | t }}</a>
          {% endcomment %}
            <a href="/cart" class="btn btn-secondary btn-block mt-2">{{ 'general.view_cart' | t }}</a>
           
            <a href="/checkout" class="btn btn-secondary btn-block mt-2 cart__checkout-button button" aria-label="Checkout">{{ 'general.checkout_shorthand' | t }}</a>
        </form>

        </div>
        <!--end go cart drawer buttons-->

    </div>

</div>
<!--end go cart drawer-->

<!--go cart overlay-->
<div class="go-cart__overlay js-go-cart-overlay">
</div>
<!--end go cart overlay-->

{% schema %}
{
	"name": "Mini Cart",
	"settings": [
		{
			"type": "header",
			"content": {
				"en": "Mini Cart"
			},
			"info": {
				"en": "This area is empty and for the use of the Mini Cart only."
			}
		}
]
}
{% endschema %}

